<h1>AniClothing</h1>
<h2>Willkommen!</h2>
<img src="./../../../assets/logo.png">
<mat-card *ngIf="disapear">
  <mat-card-title style="margin: 10px;">Login</mat-card-title>
<mat-card-content>
  <div *ngIf="isAuthenticated()">
    <mat-chip style="margin: 10px;">{{username}}</mat-chip>
    <button (click)="logout()" color="warn" mat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
  <div *ngIf="!isAuthenticated()">
    <button (click)="login()" color="warn" mat-button>
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div>
    <button routerLink="/clothings">Weiter</button>
  </div>
</mat-card-content>
</mat-card>
