<div>
  <mat-card>
    <h1>Angebote:</h1>

    <mat-grid-list cols="3" rowHeight="5:1" aria-expanded="true">
      <mat-grid-tile>
        <h2>Filter:</h2>
      </mat-grid-tile>
      <mat-grid-tile >
    <button *ngIf="isAdmin" mat-fab extended color="primary" routerLink="/edit">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </mat-grid-tile>
<mat-grid-tile>
    <button (click)="logout()" color="warn" mat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="2" rowHeight="4:1" aria-expanded="true">
    <mat-grid-tile>
  <mat-form-field>
    <mat-label>Farbe</mat-label>
    <mat-select>
      <mat-option *ngFor="let colours of colour">
        {{colours.farbe}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile>
  <mat-form-field>
    <mat-label>Grösse</mat-label>
    <mat-select>
      <mat-option *ngFor="let sizes of size">
        {{sizes.eu}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="3" rowHeight="3:5">
    <mat-grid-tile *ngFor="let clothings of clothing">
  <mat-card class="content-card">
    <mat-card-content>
      <h2>{{clothings.name}}</h2>
      <img [routerLink]="['/clothing', clothings.id]" mat-card-image src="../../../assets/clothing.png">
    </mat-card-content>
  </mat-card>
</mat-grid-tile>

</mat-grid-list>

</mat-card>
</div>
