.content-card {
  background-color: #3F51B5;
  margin: 10px;
  color: white;
}

button {
  margin: 10px;
  background-color: #3F51B5;
}
h1 {
  background-color: #3F51B5;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
}

h3{
  margin-left: 20px;
}

h2 {
  font-weight: bold;
}
