<div>

  <h3>Erstellen von Kleidern</h3>

  <form (ngSubmit)="update(form.value)" [formGroup]="form!">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Marke</mat-label>
        <input type="text" formControlName="marke" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preis</mat-label>
        <input type="number" formControlName="preis" matInput required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Grösse</mat-label>
        <mat-select formControlName="size">
          <mat-option [value]="sizes" *ngFor="let sizes of size">
            {{sizes.eu}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Farbe</mat-label>
        <mat-select
        formControlName="colour"
        [compareWith]="compareOptions">
          <mat-option [value]="colours" *ngFor="let colours of colour">
            {{colours.farbe}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ort</mat-label>
        <mat-select
        formControlName="places">
          <mat-option [value]="places" *ngFor="let places of place">
            {{places.plz}},
            {{places.ortsname}},
            {{places.strasse}}
            {{places.strassennummer}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="disabled" type="reset" (click)="back">Abbrechen</button>
      <button mat-raised-button color="primary" type="submit">Speichern</button>

  </form>

</div>
